.record-container {
  flex-direction: column;
  width: 100%;
}

.record {
  @extend %content-card;
  margin: 0.1rem;
  width: 100%;
  align-items: center;
  padding: 0.5rem;
}

.record label {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0.225rem 0.5rem;
  padding-bottom: 0.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.record-container .children-container {
  flex-direction: column;
  width: calc(100% - 2.5rem);
  margin-left: 2.5rem;
}

.record .copy-button {
  margin-left: auto;
}

.record .copied {
  margin-left: auto;
}

.record input {
  width: auto;
}
