.records-list {
  margin-top: 1rem;
  flex-direction: column;
  width: 100%;
}

.records-list .records-container {
  flex-direction: column;
  width: 100%;
}

.author-record {
  justify-content: space-between;
}

.author-record input {
  width: 95%;
  margin-right: 0.5rem;
}
