.profile {
  flex-direction: column;
}

.profile .details {
  width: 68.6%;
  margin: auto;
  margin-bottom: 1rem;
}

.profile .details h1 {
  @extend %bold-font;
  margin-left: 1rem;
  font-size: 1.5rem;
}

.profile .details .img-container {
  width: 10rem;
  height: 10rem;
}

@media (max-width: 768px) {
  .profile .details {
    width: 90%;
  }

  .profile .details .img-container {
    width: 7rem;
    height: 7rem;
  }
}
