.home {
  flex-direction: column;
  align-items: center;
}

.home .search {
  justify-content: center;
  align-items: center;
  padding: 0 1rem 1rem;
  width: 100%;
}

.home .search input {
  padding: 0.5rem;
  width: 60%;
}

@media (max-width: 480px) {
  .home .search input {
    width: 100%;
  }
}
