.post {
  flex-direction: column;
}

.post a {
  @extend %link-font;
}

.post h1 {
  @extend %bold-font;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.post dt {
  font-weight: 500;
}

.post .content-card {
  min-width: 100%;
}

.post .upper-part {
  width: 100%;
  justify-content: flex-start;
}

.post .left-column {
  flex-direction: column;
  margin-right: 0.5rem;
  width: 35%;
}

.post .left-column .img-container {
  min-width: 100%;
}

.post .left-column .edit-button {
  width: 100%;
  margin-top: 1rem;
}

.post .metadata {
  margin-top: 1rem;
}

.post .right-column {
  width: 65%;
  margin-left: 0.5rem;
  flex-direction: column;
}

.post .details {
  flex-direction: inherit;
}

.post .buttons {
  flex-direction: inherit;
}

.post .comments {
  flex-direction: inherit;
  margin-top: 1rem;
}

.post .comments h1 {
  @extend %bold-font;
  font-size: 1.25rem;
}

.post .comments h2 {
  @extend %bold-font;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.post .compose-comment {
  flex-direction: inherit;
  width: 100%;
}

.post .comments textarea {
  resize: none;
  width: 100%;
  height: 10rem;
}

.post .compose-comment .button-row {
  margin-top: 0.5rem;
  justify-content: flex-end;
  width: 100%;
}

.post .comment {
  @extend %content-card-in-inset-panel;
  padding-left: 0.5rem;
}

.post .comment .img-container {
  width: 4.5rem;
  height: 4.5rem;
}

.post .comment .comment-column {
  flex-direction: column;
  margin-left: 0.6rem;
}

.post .comment .comment-right-column {
  width: 100%;
}

.post .comment .comment-column button {
  width: 100%;
  margin-top: 0.5rem;
}

.post .comment .comment-column h2 {
  margin-top: 0;
}

.post .comments .inset-panel {
  width: 100%;
  margin-top: 0.3rem;
  flex-direction: column;
}

.post .comments .comment-content-area {
  width: 100%;
  height: 8rem;
}

@media (max-width: 768px) {
  .post .upper-part {
    flex-direction: column-reverse;
  }

  .post .left-column {
    margin-top: 1rem;
    width: 100%;
  }

  .post .right-column {
    width: 100%;
    margin: 0;
  }
}
