@font-face {
  font-family: TitilliumWeb;
  src: url(fonts\\TitilliumWeb-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: TitilliumWeb;
  src: url(fonts\\TitilliumWeb-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: TitilliumWeb;
  src: url(fonts\\TitilliumWeb-SemiBold.ttf);
  font-weight: 500;
}

$main-background-color: #313031;
$toolbar-background-color: #242324;
$main-font-family: TitilliumWeb;

$nav-height: 2.25rem;

%main-font {
  color: #ffffff;
}

%bold-font {
  color: #ffe6c0;
  font-weight: 500;
}

%link-font {
  cursor: pointer;
  color: #80cef0;
}

div {
  display: flex;
}

.app {
  @extend %main-font;
  background-color: $main-background-color;
  font-family: $main-font-family;
  min-height: 100vh;
  width: 100vw;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.app-limited-container {
  width: 75rem;
  max-width: 75rem;
}

@import "./Components/Home/Home";
@import "./Components/Nav/Nav";
