@font-face {
  font-family: TitilliumWeb;
  src: url(fonts\\TitilliumWeb-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: TitilliumWeb;
  src: url(fonts\\TitilliumWeb-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: TitilliumWeb;
  src: url(fonts\\TitilliumWeb-SemiBold.ttf);
  font-weight: 500;
}

$main-background-color: #313031;
$toolbar-background-color: #242324;
$main-font-family: TitilliumWeb;

$light-background-color: #403f40;

$button-hover-color: #e39827;
$button-click-color: #f1be64;

$nav-height: 2.25rem;

%main-font {
  color: #ffffff;
}

%bold-font {
  color: #ffe6c0;
  font-weight: 500;
}

%limited-width-container {
  margin: 0 auto;
  max-width: 75rem;
  position: relative;
  width: 75rem;
}

%link-font {
  color: #80cef0;
  text-decoration: none;
}

%link-font:hover {
  cursor: pointer;
  text-decoration: underline;
}

%content-card {
  background-color: $light-background-color;
  padding: 0.75rem;
  box-shadow: inset 3px 0 3px -3px #201815, inset 2px 0 2px -2px #201815, inset 1px 0 1px -1px #201815,
    inset 0 3px 3px -3px #8f8c8b, inset 0 2px 2px -2px #8f8c8b, inset 0 1px 1px -1px #8f8c8b,
    inset -3px 0 3px -3px #201815, inset -2px 0 2px -2px #201815, inset -2px 0 1px -1px #201815,
    inset 0 -3px 3px -3px #000, inset 0 -2px 2px -2px #000, inset 0 -1px 1px -1px #000, 0 0 2px 0 #201815,
    0 0 4px 0 #201815;
}

%content-card-with-margin {
  @extend %content-card;
  margin: 0.5rem;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

div,
main,
section,
a,
dl {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}

main {
  @extend %limited-width-container;
  margin: calc(#{$nav-height} + 1rem) auto;
}

input,
textarea {
  background-color: #8e8e8e;
  padding: 0.35rem 0.4rem 0.3rem;
  // box-shadow: inset 0.1rem 0.1rem 0.05rem #000000a6, inset -0.05rem -0.05rem 0.05rem #000000a6;
  box-shadow: inset 0 0 3px 0 #000, 0 -2px 2px -1px #000, -2px 0 2px -2px #28221f, -2px 0 2px -2px #28221f,
    2px 0 2px -2px #28221f, 2px 0 2px -2px #28221f, 0 3px 3px -3px #8f8c8b, 0 2px 2px -2px #8f8c8b,
    0 1px 1px -1px #8f8c8b;
  border: none;
  outline: none;
  vertical-align: baseline;
  height: unset;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: #f0dab4;
}

input::placeholder,
textarea::placeholder {
  color: #00000081;
}

button {
  cursor: pointer;
  background-color: #8e8e8e;
  border: none;
  padding: 0.45rem;
  padding-bottom: 0.45rem;
  box-shadow: inset 8px 0 4px -8px #000, inset -8px 0 4px -8px #000, inset 0 10px 2px -8px #e3e3e3,
    inset 0 10px 2px -8px #282828, inset 0 -9px 2px -8px #000, 0 0 4px 0 #000;
}

button:hover {
  box-shadow: inset 8px 0 4px -8px #000, inset -8px 0 4px -8px #000, inset 0 9px 2px -8px #fff,
    inset 0 8px 4px -8px #000, inset 0 -8px 4px -8px #000, inset 0 -9px 2px -8px #432400, 0 0 4px 0 #000,
    inset 0 0 4px 2px #f9b44b;
  background-color: #e39827;
  outline: none;
}

button:active {
  box-shadow: inset 0 10px 2px -8px #000, inset 0 9px 2px -8px #000, inset 8px 0 4px -8px #563a10,
    inset 8px 0 4px -8px #563a10, inset -8px 0 4px -8px #563a10, inset -8px 0 4px -8px #563a10,
    inset 0 9px 2px -8px #563a10, inset 0 -9px 2px -8px #563a10, inset 0 -8.5px 0 -8px #563a10, 0 0 4px 0 #000;
  background-color: #f1be64;
  padding-top: 0.6rem;
  padding-bottom: 0.3rem;
}

button:focus {
  outline: 0;
}

dl {
  box-shadow: inset 0 2px 2px -2px #000, inset 0 2px 2px -2px #000, inset 0 0 2px 0 #33302f, inset 0 0 2px 0 #33302f,
    inset 0 -2px 2px -2px #fff, 0 0 2px 0 #2b2b2b;
  justify-content: space-between;
  align-items: stretch;
  padding: 0.2rem 0.1rem;
  width: 100%;
}

dt,
dd {
  box-shadow: inset 0 0 4px 0 #2d2d2d, 0 -2px 2px -2px #888, 0 -2px 2px -2px #888, -2px 0 2px -2px #000,
    2px 0 2px -2px #000, 0 2px 2px -2px #000;
  padding: 0.25rem 0.6rem 0.3rem;
  width: 50%;
}

.img-container {
  box-shadow: inset 0 0 3px 0 #000, 0 -2px 2px -1px #000, -2px 0 2px -2px #28221f, -2px 0 2px -2px #28221f,
    2px 0 2px -2px #28221f, 2px 0 2px -2px #28221f, 0 3px 3px -3px #8f8c8b, 0 2px 2px -2px #8f8c8b,
    0 1px 1px -1px #8f8c8b;
  overflow: hidden;
  pointer-events: none;
  position: relative;
}

.img-container img {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.img-container .overlay {
  box-shadow: inset 0 0 4px 0 #171717;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.content-card {
  @extend %content-card;
}

.inset-panel {
  background-color: $toolbar-background-color;
  box-shadow: inset 0 0 3px 0 #000, 0 -2px 2px -1px #000, -2px 0 2px -2px #28221f, -2px 0 2px -2px #28221f,
    2px 0 2px -2px #28221f, 2px 0 2px -2px #28221f, 0 3px 3px -3px #8f8c8b, 0 2px 2px -2px #8f8c8b,
    0 1px 1px -1px #8f8c8b;
}

.app {
  @extend %main-font;
  background-color: $main-background-color;
  font-family: $main-font-family;
  min-height: 100vh;
  width: 100vw;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@import "./Components/About/About";
@import "./Components/AuthorPost/AuthorPost";
@import "./Components/Home/Home";
@import "./Components/Nav/Nav";
@import "./Components/Post/Post";
@import "./Components/PostsView/PostsView";
@import "./Components/Record/Record";
@import "./Components/RecordsList/RecordsList";
