@font-face {
  font-family: TitilliumWeb;
  src: url(fonts\\TitilliumWeb-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: TitilliumWeb;
  src: url(fonts\\TitilliumWeb-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: TitilliumWeb;
  src: url(fonts\\TitilliumWeb-SemiBold.ttf);
  font-weight: 500;
}

$main-background-color: #313031;
$main-font-color: #ffffff;
$main-font-family: TitilliumWeb;

$toolbar-background-color: #242324;

%bold-font {
  color: #ffe6c0;
  font-weight: 500;
}

.app {
  @extend %bold-font;
  background-color: $main-background-color;
  font-family: $main-font-family;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
