@font-face {
  font-family: TitilliumWeb;
  src: url(fonts\\TitilliumWeb-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: TitilliumWeb;
  src: url(fonts\\TitilliumWeb-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: TitilliumWeb;
  src: url(fonts\\TitilliumWeb-SemiBold.ttf);
  font-weight: 500;
}

$main-background-color: #313031;
$toolbar-background-color: #242324;
$main-font-family: TitilliumWeb;

$light-background-color: #403f40;

$button-hover-color: #e39827;
$button-click-color: #f1be64;

$nav-height: 2.25rem;

%main-font {
  color: #ffffff;
}

%bold-font {
  color: #ffe6c0;
  font-weight: 500;
}

%limited-width-container {
  margin: 0 auto;
  max-width: 75rem;
  position: relative;
  width: 75rem;
}

%link-font {
  color: #80cef0;
  text-decoration: none;
}

%link-font:hover {
  cursor: pointer;
  text-decoration: underline;
}

%content-card {
  background-color: $light-background-color;
  padding: 0.75rem;
  box-shadow: 0.15rem 0.15rem 0.1rem 0.1rem #0000002d;
}

%content-card-with-margin {
  @extend %content-card;
  margin: 0.5rem;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

div,
main,
section,
a {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}

main {
  @extend %limited-width-container;
  margin: calc(#{$nav-height} + 1rem) auto;
}

input,
textarea {
  background-color: #8e8e8e;
  padding: 0.35rem 0.4rem 0.3rem;
  box-shadow: inset 0.1rem 0.1rem 0.05rem #000000a6, inset -0.05rem -0.05rem 0.05rem #000000a6;
  border: none;
  outline: none;
  vertical-align: baseline;
  height: unset;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: #f0dab4;
}

input::placeholder,
textarea::placeholder {
  color: #00000081;
}

button {
  cursor: pointer;
  background-color: #8e8e8e;
  border: outset;
  border-color: #8e8e8e;
  border-width: 0.1rem;
  padding: 0.25rem;
  padding-bottom: 0.35rem;
}

button:hover {
  background-color: $button-hover-color;
  border-color: $button-hover-color;
  outline: none;
}

button:active {
  background-color: $button-click-color;
  border-color: $button-click-color;
}

button:focus {
  outline: 0;
}

.img-container {
  box-shadow: inset 0 0 3px 0 #000, 0 -2px 2px -1px #000, -2px 0 2px -2px #28221f, -2px 0 2px -2px #28221f,
    2px 0 2px -2px #28221f, 2px 0 2px -2px #28221f, 0 3px 3px -3px #8f8c8b, 0 2px 2px -2px #8f8c8b,
    0 1px 1px -1px #8f8c8b;
  overflow: hidden;
  pointer-events: none;
  position: relative;
}

.img-container img {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.img-container .overlay {
  box-shadow: inset 0 0 4px 0 #171717;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.app {
  @extend %main-font;
  background-color: $main-background-color;
  font-family: $main-font-family;
  min-height: 100vh;
  width: 100vw;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@import "./Components/About/About";
@import "./Components/AuthorPost/AuthorPost";
@import "./Components/Home/Home";
@import "./Components/Nav/Nav";
@import "./Components/Post/Post";
@import "./Components/PostsView/PostsView";
@import "./Components/Record/Record";
@import "./Components/RecordsList/RecordsList";
