@font-face {
  font-family: TitilliumWeb;
  src: url(fonts\\TitilliumWeb-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: TitilliumWeb;
  src: url(fonts\\TitilliumWeb-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: TitilliumWeb;
  src: url(fonts\\TitilliumWeb-SemiBold.ttf);
  font-weight: 500;
}

:root {
  --main-background-color: #313031;
  --main-font-color: #ffffff;
  --bold-font-color: #ffe6c0;
}

.app {
  background-color: #313031;
  color: var(--bold-font-color);
  font-family: TitilliumWeb;
  font-weight: 500;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
