.nav-background {
  background-color: $toolbar-background-color;
  position: fixed;
  width: 100vw;
  height: $nav-height;
  align-items: stretch;
}

nav {
  @extend %limited-width-container;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.3rem;
  box-sizing: border-box;
}

nav h1 {
  @extend %bold-font;
}

nav label {
  @extend %link-font;
  margin-left: 1rem;
}

.auth {
  position: absolute;
  right: 0;
  top: $nav-height;
  background-color: $toolbar-background-color;
  box-sizing: border-box;
  flex-direction: column;
}

.auth-input {
  box-sizing: border-box;
  padding: 0.5rem;
  width: 17.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth button {
  box-sizing: border-box;
  margin: 0.5rem;
  width: 95%;
}
