.nav-background {
  background-color: $toolbar-background-color;
  position: fixed;
  width: 100vw;
  align-items: stretch;
  box-shadow: inset 0 0 3px 0 #000, 0 -2px 2px -1px #000, -2px 0 2px -2px #28221f, -2px 0 2px -2px #28221f,
    2px 0 2px -2px #28221f, 2px 0 2px -2px #28221f, 0 3px 3px -3px #8f8c8b, 0 2px 2px -2px #8f8c8b,
    0 1px 1px -1px #8f8c8b;
  background-color: $toolbar-background-color;
  z-index: 100;
}

nav {
  @extend .limited-width-container;
  box-sizing: border-box;
  align-items: center;
  padding-bottom: 0.3rem;
  box-sizing: border-box;
}

nav h1 {
  @extend %bold-font;
}

nav label {
  @extend %link-font;
  margin-left: 1rem;
}

nav .links-container {
  justify-content: space-between;
  margin: 0.5rem 0;
}

nav .right-links {
  position: absolute;
  right: 1rem;
  margin-left: auto;
}

nav .upper-container {
  align-items: center;
}

nav .upper-container button {
  margin-top: 0.15rem;
  position: absolute;
  right: 0;
}

.auth {
  @extend %content-card;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  top: $nav-height;
  box-sizing: border-box;
  flex-direction: column;
  z-index: 10;
}

.auth-input {
  box-sizing: border-box;
  padding: 0.5rem;
  width: 17.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth button {
  box-sizing: border-box;
  margin: 0.5rem;
  width: 95%;
}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
  }
  nav .upper-container {
    margin: 0.5rem 0;
  }
  nav .links-container {
    position: relative;
    width: 100%;
    margin-left: -1rem;
  }
}
