.nav-background {
  background-color: $toolbar-background-color;
  position: fixed;
  width: 100vw;
  height: $nav-height;
  align-items: stretch;
  box-shadow: inset 0 0 3px 0 #000, 0 -2px 2px -1px #000, -2px 0 2px -2px #28221f, -2px 0 2px -2px #28221f,
    2px 0 2px -2px #28221f, 2px 0 2px -2px #28221f, 0 3px 3px -3px #8f8c8b, 0 2px 2px -2px #8f8c8b,
    0 1px 1px -1px #8f8c8b;
  background-color: $toolbar-background-color;
}

nav {
  @extend %limited-width-container;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.3rem;
  box-sizing: border-box;
}

nav h1 {
  @extend %bold-font;
}

nav label {
  @extend %link-font;
  margin-left: 1rem;
}

.auth {
  position: absolute;
  right: 0;
  top: $nav-height;
  background-color: $toolbar-background-color;
  box-sizing: border-box;
  flex-direction: column;
}

.auth-input {
  box-sizing: border-box;
  padding: 0.5rem;
  width: 17.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth button {
  box-sizing: border-box;
  margin: 0.5rem;
  width: 95%;
}
